In [6]:
import pandas as pd

In [7]:
import urllib.request

In [8]:
canwiki = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [9]:
!pip install BeautifulSoup4
from bs4 import BeautifulSoup

Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 6.3MB/s eta 0:00:01
Collecting soupsieve>1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.9.1 soupsieve-2.0.1

In [10]:
!pip install --upgrade lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/55/6f/c87dffdd88a54dd26a3a9fef1d14b6384a9933c455c54ce3ca7d64a84c88/lxml-4.5.1-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 6.4MB/s eta 0:00:01     |████████████████████▍           | 3.5MB 6.4MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.1

In [11]:
from lxml import html

In [12]:
soup = BeautifulSoup(canwiki, 'html.parser')

In [13]:
soup.title

In [14]:
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

In [18]:
right_table=soup.find('table', class_='wikitable sortable')

In [19]:
A=[]
B=[]
C=[]


for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [20]:
df=pd.DataFrame(A,columns=['Postal Code'])
df['Borrough']=B
df['Neighborhood']=C

In [21]:
df

,Postal Code,Borrough,Neighborhood
0,M1A\n,Not assigned\n,\n
1,M2A\n,Not assigned\n,\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
...,...,...,...
175,M5Z\n,Not assigned\n,\n
176,M6Z\n,Not assigned\n,\n
177,M7Z\n,Not assigned\n,\n
178,M8Z\n,Etobicoke\n,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z\n,Not assigned\n,\n

In [24]:
df.head(10)

,Postal Code,Borrough,Neighborhood
0,M1A\n,Not assigned\n,\n
1,M2A\n,Not assigned\n,\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
5,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
6,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"
7,M8A\n,Not assigned\n,\n
8,M9A\n,Etobicoke\n,"Islington Avenue, Humber Valley Village\n"
9,M1B\n,Scarborough\n,"Malvern, Rouge\n"

In [65]:
df9=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [25]:
df.shape

(180, 3)

In [26]:
df['Postal Code'] = df['Postal Code'].apply(lambda x: x.strip('\n'))

In [27]:
df.head(5)

  Postal Code            Borrough                 Neighborhood
0         M1A      Not assigned\n                           \n
1         M2A      Not assigned\n                           \n
2         M3A        North York\n                  Parkwoods\n
3         M4A        North York\n           Victoria Village\n
4         M5A  Downtown Toronto\n  Regent Park, Harbourfront\n

In [28]:
df['Borrough'] = df['Borrough'].apply(lambda x: x.strip('\n'))

In [29]:
df.head(5)

  Postal Code          Borrough                 Neighborhood
0         M1A      Not assigned                           \n
1         M2A      Not assigned                           \n
2         M3A        North York                  Parkwoods\n
3         M4A        North York           Victoria Village\n
4         M5A  Downtown Toronto  Regent Park, Harbourfront\n

In [30]:
df['Neighborhood'] = df['Neighborhood'].apply(lambda x: x.strip('\n'))

In [31]:
df.head(5)

  Postal Code          Borrough               Neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [32]:
df

,Postal Code,Borrough,Neighborhood
0,M1A,Not assigned,
1,M2A,Not assigned,
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,
176,M6Z,Not assigned,
177,M7Z,Not assigned,
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,

In [59]:
df2 = df[df.Borrough != 'Not assigned']

In [60]:
df2

,Postal Code,Borrough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [63]:
df3= df2.reset_index(drop=True)

In [64]:
df3

,Postal Code,Borrough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [46]:
u = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Akira', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         
                                                 ]

In [47]:
u

[{'title': 'Breakfast Club, The', 'rating': 5},
 {'title': 'Toy Story', 'rating': 3.5},
 {'title': 'Akira', 'rating': 2},
 {'title': 'Pulp Fiction', 'rating': 5},
 {'title': 'Akira', 'rating': 4.5}]

In [52]:
u=pd.DataFrame(u)

In [53]:
u

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2                Akira     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [57]:
u2 = u[u.title !='Akira']

In [58]:
u2

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
3         Pulp Fiction     5.0